@page
@model SocialMediaWebApp.Pages.EditProfileModel
@{
}



<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="EditProfileVM.ProfilePic">Profile Picture</label>
        <input asp-for="EditProfileVM.ProfilePic" type="file" accept="image/*" />
    </div>

    <div class="form-group">
        <label asp-for="EditProfileVM.Bio">Bio</label>
        <input asp-for="EditProfileVM.Bio" />
    </div>


    <div class="form-group">
        <label asp-for="EditProfileVM.Gender">Gender</label>
        <input asp-for="EditProfileVM.Gender"/>
    </div>

    <div class="form-group">
        <label asp-for="EditProfileVM.Location">Location</label>
        <input asp-for="EditProfileVM.Location" />
    </div>

  

    <button type="submit" class="btn btn-primary">Save</button>
</form>