html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dropbtn{
    background-color: #808080;
    padding:16px;
    font-size:16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #808080;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.PostCard{
   background-color : aqua;
   border-color : black;
   margin-left : 4px;
   margin-top : 4px;
   


}
.Postbutton{
    margin-left : auto;
    color : coral;

}
.PostCardTitle{
    font : 200;
    
}
.PostCardBody{
    text-align : left;

}
.PostCardFooter{
    margin-bottom : auto;
    border-inline-width : thick;
    padding-bottom : inherit;
}
.CommentBoxButton{
    align-self : auto;
}
.PostDate{
    text-shadow : inherit;
    text-emphasis-position : left;
}
